<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local" value="./packages" />
    <add key="github" value="https://nuget.pkg.github.com/pdechario/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="pdechario" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>
